@use 'sass:map';

$breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@mixin below($breakpoint) {
  @media (max-width: #{map.get($breakpoints, $breakpoint) - 1px}) {
    @content;
  }
}

@mixin above($breakpoint) {
  @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
    @content;
  }
}
