@use './breakpoints';

.grid {
  --columns: 12;
  --row: 1;
  --gap: 1.5rem;
  display: grid;

  gap: var(--gap);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

@each $device, $size in breakpoints.$breakpoints {
  @media (min-width: $size) {
    .grid {
      @for $i from 1 through 12 {
        .col-#{$device}-#{$i} {
          grid-column: auto/span $i;
        }

        .row-#{$device}-#{$i} {
          grid-row: auto/span $i;
        }
      }
    }
  }
}
