<main>
  <section class="home-login">
    @if(!showSignup()){
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <p-floatlabel>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          fluid
        />
      </p-floatlabel>
      <p-floatlabel>
        <p-password formControlName="password" inputId="password" fluid />
        <label for="password">Password</label>
      </p-floatlabel>
      <button type="submit" pButton>Login</button>
    </form>
    }@else {
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <p-floatlabel>
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          fluid
        />
        <label for="email">Email</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password formControlName="password" inputId="password" fluid />
        <label for="password">Password</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password
          formControlName="confirmPassword"
          inputId="confirmPassword"
          fluid
        />
        <label for="confirmPassword">Confirm password</label>
      </p-floatlabel>
      <button type="submit" pButton>Sign Up</button>
    </form>
    }
    <div class="home-login--toggle">
      @if(!showSignup()){
      <span>Not registered?</span>
      <p-button label="Create an Account" link (click)="toggleSignup()" />
      }@else {
      <span>Already have an account?</span>
      <p-button label="Login here" link (click)="toggleSignup()" />
      }
    </div>
  </section>
</main>
