<main>
  <section class="home-login">
    @if(!showSignup()){
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <p-floatlabel>
        <input id="email" type="email" pInputText formControlName="email" />
        <label for="email">Email</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password formControlName="password" inputId="password" />
        <label for="password">Password</label>
      </p-floatlabel>
      <button type="submit" pButton>Login</button>
    </form>
    }@else {
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <p-floatlabel>
        <input id="email" type="email" pInputText formControlName="email" />
        <label for="email">Email</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password formControlName="password" inputId="password" />
        <label for="password">Password</label>
      </p-floatlabel>
      <p-floatlabel>
        <p-password
          formControlName="confirmPassword"
          inputId="confirmPassword"
        />
        <label for="confirmPassword">Password</label>
      </p-floatlabel>
      <button type="submit" pButton>Sign Up</button>
    </form>
    }
    <div>
      <button pButton link (click)="toggleSignup()">
        {{ showSignup() ? 'Login here' : 'Click here to sign up!' }}
      </button>
    </div>
  </section>
  ?
</main>
